Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
minio==7.2.7
requests==2.32.3
weasyprint==63.1
pydyf==0.12.1
python-docx==1.1.2
markdown==3.6
gunicorn==22.0.0
python-dotenv==1.0.1
APScheduler==3.10.4
pypdf==4.2.0
